{% extends request.session.basefile %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
<div class="card">
  <div class="card-header">
 Account info.
  </div>
  <form method="post" action="/accounts/delete" >
        {% csrf_token %}
      <br>
      <input type="hidden" name="empid" value="{{employee.id}}">
      <div class="col-auto">
          <div class="input-group mb-2">
              <div class="input-group-prepend">
                  <div class="input-group-text">Username</div>
              </div>
              <input type="text" class="form-control" name="username" maxlength="150" value="{{employee.username}}" autofocus required id="id_username"disabled>
          </div>
      </div>
      <div class="form-row">
        <div class="col">
             <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">First name</div>
                </div>
            <input type="text"  class="form-control"  name="first_name" value="{{employee.first_name}}" maxlength="30" id="id_first_name"  disabled>
                  </div>
         </div>
        </div>
      <div class="col">
           <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Last name</div>
                </div>
                    <input type="text"  class="form-control"  name="last_name"value="{{employee.last_name}}" maxlength="150" id="id_last_name" disabled>
                 </div>
         </div>
        </div>
      </div>
       <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Email</div>
                </div>
                <input type="text" name="email" value="{{employee.email}}"  class="form-control" id="inlineFormInputGroup" placeholder="Username" disabled>
           </div>
         </div>

           <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">User Type</div>
                </div>
                <input type="text" name="email" value="employee"  class="form-control" disabled>
           </div>
         </div>
       <div class="col-auto">
    <div class="clearfix">
        <button type="submit" class="btn btn-danger">delete</button>
    </div>
       </div>
       <br>
  </form>

 </div>
</div>
{% endblock %}