{% extends request.session.basefile %}

{% block title %}Register{% endblock %}

{% block content %}
 <div class="card">
    <div class="card-header" >
		<h5 >Register sales</h5>
	</div>
	<form method="post" class="card-body">
	{% csrf_token %}
		<div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Select Customer</label>
            </div>
             <select class="custom-select" id="inputGroupSelect01" name="customer">
                {%for c in cus%}
                  <option value="{{c.user.username}}">UserName:-{{c.user.username}}</option>
                {%endfor%}
            </select>
         </div><br>
		<div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Select Product</label>
            </div>
             <select class="custom-select" id="inputGroupSelect01" name="s_product">
                {%for product in pro%}
                  <option value="{{product.name}}">ProductName:-{{product.name}}        price:-{{product.price}}</option>
                {%endfor%}
            </select>
         </div><br>
         <div class="clearfix">
        	<button type="submit" class="btn btn-primary">Book</button>
    	</div>
	</form>
 </div>
 {%endblock%}